@font-face {
  font-family: "ComfortaaLight";
  src: url("../fonts/ComfortaaLight/ComfortaaLight.eot");
  src: url("../fonts/ComfortaaLight/ComfortaaLight.eot?#iefix")format("embedded-opentype"), url("../fonts/ComfortaaLight/ComfortaaLight.woff") format("woff"), url("../fonts/ComfortaaLight/ComfortaaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
			font-family: "RobotoSlabRegular";
			src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
			src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
			url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RobotoSlabLight";
			src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot");
			src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoSlabLight/RobotoSlabLight.woff") format("woff"),
			url("../fonts/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RobotoSlabBold";
			src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot");
			src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
			url("../fonts/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
  @font-face {
  			font-family: "OpenSansRegular";
  			src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  			src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  			url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  			url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  			font-style: normal;
  			font-weight: normal;
  	}
    @font-face {
    			font-family: "RalewayThin";
    			src: url("../fonts/RalewayThin/RalewayThin.eot");
    			src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
    			url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
    			url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
    			font-style: normal;
    			font-weight: normal;
    	}
